APP_0_ICON			ICON	"icons/icon.ico"
APP_1_PAUSE			ICON	"icons/pause.ico"
APP_2_PLAY			ICON	"icons/play.ico"
APP_3_STOP			ICON	"icons/stop.ico"
APP_4_PREV			ICON	"icons/prev.ico"
APP_5_NEXT			ICON	"icons/next.ico"
APP_6_PAUSE			ICON	"icons/pause.ico"
APP_7_REWIND		ICON	"icons/rewind.ico"
APP_8_FF			ICON	"icons/fastforward.ico"
APP_9_UP			ICON	"icons/up.ico"
APP_10_DOWN			ICON	"icons/down.ico"
APP_11_RAZER		ICON	"icons/razer.ico"
APP_12_CLOCK		ICON	"icons/clock.ico"
APP_13_DVB			ICON	"icons/dvb.ico"
APP_14_QUIT			ICON	"icons/quit.ico"
APP_15_PREDATOR		ICON	"icons/predator.ico"
APP_16_CURSOR		ICON	"icons/cursor.ico"